<h1><%= @coffee_shop.name %><h1>
  <h4>Year opened: <%=@coffee_shop.open_year %></h4>
  <h4>Open after 5pm: <%= @coffee_shop.open_after_five %></h4>
  <h4>Number of drinks on menu: <%= @coffee_shop.countdrinks %></h4>

  <p><%= link_to "Coffee Shop's drinks", "/coffee_shops/#{@coffee_shop.id}/drinks" %>

  <p><%= button_to "Edit #{@coffee_shop.name}", "/coffee_shops/#{@coffee_shop.id}/edit", method: :get %>

  <p><%= button_to "Delete #{@coffee_shop.name}", "/coffee_shops/#{@coffee_shop.id}", method: :delete %></p>