<h1> Drinks <h1>
<h4><%= link_to "Filter out cold drinks", :sort => "hot_drink" %></h4>

<% @drinks.each do |drink| %>
<h4> Name: <%= drink.name %> </h4>
<p> Price: $<%=drink.price %> </p>
<p> Hot drink?: <%= drink.hot_drink %> </p>
<p><%= button_to "Edit #{drink.name}", "/drinks/#{drink.id}/edit", method: :get %>
<p><%= button_to "Delete #{drink.name}", "/drinks/#{drink.id}", method: :delete %></p>
<%end%>

