<h1><%= @drink.name %></h1>
<p>Price: $<%=@drink.price%></p>
<p>Hot Drink? <%=@drink.hot_drink%></p>
<%= button_to "Edit #{@drink.name}", "/drinks/#{@drink.id}/edit", method: :get%>

<p><%= button_to "Delete #{@drink.name}", "/drinks/#{@drink.id}", method: :delete %></p>