
<% @drinks.each do |drink|%>
  <h4><%= drink.name %></h4>
  <p>Price: $<%= drink.price%></p>
  <p>Hot Drink: <%= drink.hot_drink%></p>
  <p><%= button_to "Delete #{drink.name}", "/drinks/#{drink.id}", method: :delete %></p>

<% end %>
<%= link_to 'New Drink', "/coffee_shops/#{@coffee_shop.id}/drinks/new" %>
<%= link_to "sort alphabetically", :sort => "name" %>
